<!-- inline styles for the floating button -->
<style>
  #cart-snapshot-button {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: {{ block.settings.h_w }}px;
    height: {{ block.settings.h_w }}px;
    border-radius: {{ block.settings.corner_radius }}px;
    border: 2px solid {{ block.settings.borderColour }};
    color: {{block.settings.btnText}};
    background-color: {{ block.settings.btnColour }};
        {% case block.settings.desktop_button_alignment %}
      {% when 'left' %}
        left: 20px;
        right: auto;
      {% when 'center' %}
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      {% when 'right' %}
        right: 20px;
        left: auto;
    {% endcase %}
  }

  #code-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
  }

  #code-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
</style>

<!-- Main container -->
<div id="main">
  <!-- Floating button -->
  <button id="cart-snapshot-button">
    {{ block.settings.button_text | escape }}
  </button>
  <!--End Floating button -->

  <!-- The Modal -->
  <div id="code-modal">
    <div id="code-modal-content">
      <span id="close-modal" style="float:right;cursor:pointer;">&times;</span>
      <p id="code-text">Your link: </p>
      <button onclick="copyCode()">Copy Link</button>
    </div>
  </div>
  <!--End The Modal -->

</div>

<script>
  // Get the button by its ID
  var button = document.getElementById('cart-snapshot-button');
  var modal = document.getElementById('code-modal');
  var closeModal = document.getElementById('close-modal');
  var codeText = document.getElementById('code-text');

  // TODO: check url if there is cs-code=xxxxx. if found, extract the xxxxx code then send to API to get associated products
  const urlParams = new URLSearchParams(window.location.search);
  const code = urlParams.get('cs-code');
  processCodeFromURL(code);

  async function processCodeFromURL(code) {
    if (code) {
      console.log('Code found in URL:', code);
      localStorage.setItem('cart-snapshot-code', code);

      try {
        const storeId = await getStoreId();
        fetchProductsForCode(storeId, code);
        
        // TODO:
      } catch (error) {
        console.error('Error while retrieving Store ID:', error);
      }
    }
  }


  // Fetch products associated with the code from the API
  function fetchProductsForCode(storeId, code) {
    // http://localhost:3000/api/store/665a812dc8b273a922488d0d/codes?code=e4ec456ac893
    var apiEndpoint = `http://localhost:3000/api/store/${storeId}/codes?code=${code}`;

    fetch(apiEndpoint)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Code details:', data);
        // Process the data as needed
      })
      .catch(error => {
        console.error('Failed to fetch code details:', error);
      });
  }


  // copy the code to the clipboard
  function copyCode() {
    var textToCopy = codeText.textContent.replace('Your link: ', '');
    navigator.clipboard.writeText(textToCopy).then(() => {
      console.log('Link copied to clipboard');
      modal.style.display = "none";
    }).catch(err => {
      console.error('Failed to copy the link:', err);
    });
  }

  // Close modal
  closeModal.onclick = function () {
    modal.style.display = "none";
  }


  // Function to handle button click
  function handleButtonClick() {
    getStoreId()
      .then(fetchCartDetails)
      .then(sendProductIdsToStore)
      .catch(function (error) {
        console.error('Error in process:', error);
      });
  }

  // Function to get store ID from localStorage or API
  async function getStoreId() {
    const cachedStoreId = localStorage.getItem('cart-snapshot-app-storeId');
    if (cachedStoreId) {
      console.log('Using cached Store ID:', cachedStoreId);
      return cachedStoreId;
    } else {
      const apiEndpoint = `http://localhost:3000/api/store/id?storeUrl=${encodeURIComponent(Shopify.shop)}`;
      try {
        const response = await fetch(apiEndpoint);
        if (!response.ok) {
          throw new Error('Failed to fetch store ID from API');
        }
        const data = await response.json();
        if (data && data.storeId) {
          console.log('Store ID fetched:', data.storeId);
          localStorage.setItem('cart-snapshot-app-storeId', data.storeId);
          return data.storeId;
        } else {
          throw new Error('Store ID not found in the response');
        }
      } catch (error) {
        console.error('Error fetching store ID:', error);
        throw error;  // Rethrow the error to be handled by the caller
      }
    }
  }



  // get current cart products and quantities
  function fetchCartDetails(storeId) {
    return new Promise((resolve, reject) => {
      fetch('/cart.js')
        .then(response => response.json())
        .then(cart => {
          var products = cart.items.map(item => ({
            productId: item.id.toString(), 
            quantity: item.quantity        
          }));
          console.log('Products in the cart:', products);
          resolve({ storeId, products });  // Pass products instead of productIds
        })
        .catch(reject);
    });
  }

  // send product IDs to your API with the store ID
function sendProductIdsToStore({ storeId, products }) {
  var apiEndpoint = 'http://localhost:3000/api/store/add';
  return fetch(apiEndpoint, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ storeId, products })
  })
    .then(response => {
      console.log('HTTP response from add API:', response);
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      console.log('Response from sending products:', data);
      if (data.message) {
        console.log(data.message);  // Log any messages that come from the server
      }
      if (data.code) {
        var fullLink = `${Shopify.shop}?cs-code=${data.code}`;  // Constructing the URL with the code
        codeText.textContent = 'Your link: ' + fullLink;
        modal.style.display = "block";
      }
    })
    .catch(error => {
      console.error('Error posting product details:', error);
    });
}


  // button click event listener
  button.addEventListener('click', handleButtonClick);
</script>

{% schema %}
{
"name": "Cart Snapshot App",
"target": "section",
"settings": [
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "Cart Snapshot"
},
{ "type": "color", "id": "btnColour", "label": "Button Colour", "default": "#ff0000" },
{ "type": "color", "id": "btnText", "label": "Text Colour", "default": "#ffffff" },
{ "type": "color", "id": "borderColour", "label": "Border Colour", "default": "#000000" },
{
  "type": "select",
  "id": "desktop_button_alignment",
  "label": "Desktop Content Alignment",
  "info": "button always on the bottom of the screen",
  "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "center",
      "label": "Center"
    },
    {
      "value": "right",
      "label": "Right"
    }
  ],
  "default": "right"
},
{
  "type": "range",
  "id": "h_w",
  "label": "Button Height & Width",
  "default": 75,
  "min": 0,
  "max": 250,
  "step": 25
},
{
  "type": "range",
  "id": "corner_radius",
  "label": "Button Radius",
  "default": 20,
  "min": 0,
  "max": 100,
  "step": 5
}
]
}
{% endschema %}